.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 10vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
  }
    
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding:50px

}
.asset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.listen {
  background:none;
  border: 10px solid white
}
.asset p {
  color: white;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center
}
.img  {
  width: 150px;
  height: 150px;
  border-radius: 150px
}